/*************Button-colors**************/
/*************BTN**************/
.btn-mac, .btn-ios {
  padding: 0.8rem 2.5rem;
  border-radius: 100px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem;
  display: inline-block;
  opacity: 10;
  transition: all 1s;
}
.btn-mac:hover, .btn-ios:hover {
  opacity: 0.3;
}

.btn-ios {
  background: #26baa4;
}
.btn-mac {
  background: #6173ff;
}

p {
  color: #9fabb2;
}

/*************setting**************/
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  padding: 2rem 0;
}

.row {
  text-align: center;
  margin: auto;
  padding-top: 4rem 0;
}
.row p {
  width: 50%;
  margin: auto;
  padding: 2rem 0;
}

.img {
  width: 700px;
}

/*************Media-Queries**************/
@media (max-width: 776px) {
  .row p {
    width: 100%;
  }

  .img {
    width: 100%;
  }
}
/************Setting-up**************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Bai Jamjuree", sans-serif;
}

/*************Hero**************/
#hero {
  background-image: url(/images/bg-header-desktop.png);
  height: 100vh;
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}
#hero .content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}
#hero .content p {
  width: 60%;
  margin: auto;
  color: #9fabb2;
  padding: 2rem;
}
#hero .content img {
  padding-bottom: 4rem;
}

/*************Desktop**************/
#section-desktop .flex-columns {
  display: flex;
  justify-content: space-around;
  padding: 5rem 0;
}
#section-desktop .flex-columns .box {
  margin: 2rem 6rem;
}
#section-desktop .flex-columns .box h3 {
  padding: 0.8rem 0;
}

/*************Mobile**************/
#section-mobile img {
  display: block;
  margin: auto;
  padding-top: 4rem;
}

/*************Workflow**************/
#section-workflow .flex-columns {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-right: 7rem;
  padding: 5rem 0;
}
#section-workflow .flex-columns .box h3 {
  padding: 1rem 0;
}

/*************Logos**************/
#section-logos {
  display: flex;
  justify-content: space-around;
  padding-top: 5rem 0;
}

/*************Keyboard**************/
#section-keyboard {
  padding: 10rem 0;
}

/*************Footer**************/
#footer {
  display: flex;
  justify-content: space-around;
  background: #f1f1f1;
  padding: 2rem 0;
}
#footer .box:last-child ul {
  display: flex;
}
#footer .box:last-child ul li {
  padding: 0 0.6rem;
}
#footer .box:last-child ul li a {
  font-size: 1.5rem;
  color: #4c545d;
}
#footer .box:last-child ul li a:hover {
  color: #26baa4;
}
#footer .box:nth-child(1) img {
  width: 50px;
}
#footer .box:nth-child(2) ul li,
#footer .box:nth-child(3) ul li,
#footer .box:nth-child(4) ul li {
  padding-bottom: 1rem;
}
#footer .box:nth-child(2) ul li a,
#footer .box:nth-child(3) ul li a,
#footer .box:nth-child(4) ul li a {
  color: #4c545d;
}
#footer .box:nth-child(2) ul li a:hover,
#footer .box:nth-child(3) ul li a:hover,
#footer .box:nth-child(4) ul li a:hover {
  color: #26baa4;
}

/*************Media-Queries**************/
@media (max-width: 766px) {
  body {
    font-size: 16px;
  }

  #hero {
    background-image: url(/images/bg-header-mobile.png);
  }
  #hero .content p {
    width: 100%;
  }
  #hero .content h1 {
    font-size: 1.8rem;
  }

  /*Desktop*/
  #section-desktop .flex-columns {
    flex-direction: column;
    padding: 5rem 0;
  }
  #section-desktop .flex-columns img {
    width: 100%;
  }
  #section-desktop .flex-columns .box {
    margin: 2rem 1rem;
  }
  #section-desktop .flex-columns .box h3 {
    padding: 0.8rem 0;
  }

  /*Workflow*/
  #section-workflow .flex-columns {
    flex-direction: column;
    margin-right: 0;
    padding: 1rem;
  }
  #section-workflow .flex-columns .box {
    margin-top: 3rem;
  }

  #section-logos {
    flex-direction: column;
    align-items: center;
  }
  #section-logos figure {
    padding: 3rem 0;
  }

  #footer {
    flex-direction: column;
    align-items: center;
  }
  #footer ul {
    padding: 1rem 0;
  }
  #footer .box:nth-child(2) ul li,
#footer .box:nth-child(3) ul li,
#footer .box:nth-child(4) ul li {
    padding-bottom: 0rem;
  }
}
@media (max-width: 1024px) {
  #section-desktop .flex-columns {
    display: flex;
    justify-content: space-around;
    padding: 5rem 0;
  }
  #section-desktop .flex-columns img {
    width: 100%;
  }
  #section-desktop .flex-columns .box {
    margin: 1rem;
  }
  #section-desktop .flex-columns .box h3 {
    padding: 0.8rem 0;
  }
}

/*# sourceMappingURL=main.css.map */
