/************Setting-up**************/
@use '../scss/global' as c;
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-size: 18px;
  font-family: 'Bai Jamjuree', sans-serif;
}

@mixin flex-columns {
  display: flex;
  justify-content: space-around;
  
}
/*************Hero**************/
#hero{
  background-image: url(/images/bg-header-desktop.png);
  height: 100vh;
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;

  .content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    
    p{
      width: 60%;
      margin: auto;
      color:c.color(--Grayish-Blue);
      padding:2rem;
    } 
    img{padding-bottom: 4rem;}
  }
}
/*************Desktop**************/
#section-desktop{
  .flex-columns{
    @include flex-columns();
    padding:5rem 0;
    .box{
      margin:2rem 6rem;
      h3{
        padding:0.8rem 0;
      }
    }
  }
}
/*************Mobile**************/
#section-mobile{
  img{
    display: block;
    margin: auto;
    padding-top: 4rem;
  }
}
/*************Workflow**************/
#section-workflow{
  .flex-columns{
    @include flex-columns();
    text-align: center;
    margin-right:7rem;
    padding:5rem 0;
    .box{
      h3{
        padding:1rem 0;
      }
     
    }
  }
}
/*************Logos**************/
#section-logos{
  @include flex-columns();
  padding-top:5rem 0;
}
/*************Keyboard**************/
#section-keyboard{
  padding:10rem  0;
  
}

/*************Footer**************/
#footer{
  @include flex-columns();
  background:rgb(241, 241, 241);
  padding:2rem 0;
  .box:last-child{
    ul{
      display: flex;
      li{
        padding:0 0.6rem;
        a{
          font-size: 1.5rem;
          color:c.color(--dark-grayish);
          &:hover{
            color:c.color(--strong-syan);
          }
        }
      }
    }


  }

  .box:nth-child(1){
    img{width: 50px;}
  }
  .box:nth-child(2),
  .box:nth-child(3),
  .box:nth-child(4){
    ul li {
        padding-bottom: 1rem;
       a{
         color: c.color(--dark-grayish);
         &:hover{
          color:c.color(--strong-syan);
         }
       }
    }
  }

 
}
/*************Media-Queries**************/

@media(max-width:766px){
  body{font-size: 16px;}

  @mixin flex-columns {flex-direction: column;}

  #hero{
    background-image: url(/images/bg-header-mobile.png);
    .content{
      p{
        width:100%;
      } 
      h1{
        font-size: 1.8rem;
      }
    }
  }
  /*Desktop*/
  #section-desktop{
    .flex-columns{
      @include flex-columns();
      padding:5rem 0;
      img{
        width: 100%;
      }
      .box{
        margin:2rem 1rem;
        h3{
          padding:0.8rem 0;
        }
      }
    }
  }

  /*Workflow*/
  #section-workflow{
    .flex-columns{
      @include flex-columns();
      margin-right:0;
      padding:1rem;
      .box{
        margin-top: 3rem;
      }
    }
  }

  #section-logos{
    @include flex-columns();
    align-items: center;
    figure{
      padding: 3rem 0;
    }
    
  }


  #footer{
    @include flex-columns();
    align-items: center;
   

    ul{padding:1rem 0;}

   
    .box:nth-child(2),
    .box:nth-child(3),
    .box:nth-child(4){
      ul li {
          padding-bottom: 0rem;
       
      }
    }
  
   
  }
}

@media(max-width:1024px){
  #section-desktop{
    .flex-columns{
      @include flex-columns();
      padding:5rem 0;
      img{
        width: 100%;
      }
      .box{
        margin: 1rem;
        h3{
          padding:0.8rem 0;
        }
      }
    }
  }
}